In [38]:
import mysql.connector as connection
import pandas as pd

try:
    # PRECISA SUBSTITUIR LOCALHOST PELO SERVER ADDRESS
    mydb = connection.connect(host='127.0.0.1', database = 'db_usuario',
                              user='root', passwd='joaoeduardomiguel',use_pure=True)
                                                      
    #parametros
    table_name = 'user_table'
    identifier = 'Postal_Code'
    user_wanted = 2500
    
    #command
    query = f'''Select * from {table_name} 
    WHERE {identifier}={user_wanted};'''
    user_frame = pd.read_sql(query,mydb)
    
    
    mydb.close() #close the connection
    
except Exception as e:#FAIL HANDLER
    mydb.close()
    print("ERROR - NAO FOI POSSIVEL LOCALIZAR O SERVIDOR")

user_frame

,Doc_Date,Postal_Code,Sous_groupement,Subrand,Latitude,Longitude,TTC
0,2021-01-12 00:00:00,2500,B.B.C.D. (Hirson),TRIPLE KARMELIET,49.827,4.2107,21.952008
1,2021-01-12 00:00:00,2500,B.B.C.D. (Hirson),KWAK,49.827,4.2107,18.0574128
2,2021-01-12 00:00:00,2500,B.B.C.D. (Hirson),LEFFE BLONDE,49.827,4.2107,17.8943688
3,2021-01-12 00:00:00,2500,B.B.C.D. (Hirson),LEFFE RITUEL 9°,49.827,4.2107,22.9749696
4,2021-02-01 00:00:00,2500,B.B.C.D. (Hirson),TRIPLE KARMELIET,49.827,4.2107,21.952008
...,...,...,...,...,...,...,...
291,2019-12-17 00:00:00,2500,B.B.C.D. (Hirson),TRIPLE KARMELIET,49.827,4.2107,28.3974912
292,2019-12-17 00:00:00,2500,B.B.C.D. (Hirson),KWAK,49.827,4.2107,24.6897216
293,2019-12-17 00:00:00,2500,B.B.C.D. (Hirson),LEFFE BLONDE,49.827,4.2107,23.628672
294,2019-12-20 00:00:00,2500,B.B.C.D. (Hirson),TRIPLE KARMELIET,49.827,4.2107,28.3974912
295,2019-12-20 00:00:00,2500,B.B.C.D. (Hirson),LEFFE BLONDE,49.827,4.2107,23.628672

In [14]:
from sklearn.cluster import KMeans
import numpy as np

#importando base de dados
df = pd.read_csv("MLiHops.csv")
df

                subrand   ibu  abv (%)  corpo  aroma  tipo
0       BIRRA DEL BORGO  20.0      5.0      1      0     1
1                   BUD  10.0      5.0      0      0     2
2      CAMDEN HELLS\r\n  29.0      4.6      0      0     2
3       CAMDEN PALE ALE  39.0      4.0      1      1    40
4          CORONA EXTRA  18.0      4.6      0      0     2
5       GINETTE BLANCHE  12.0      5.0      0      0    41
6        GINETTE BLONDE  29.0      5.0      2      0    40
7         GINETTE FRUIT  12.0      4.0      1      1    20
8         GINETTE LAGER  25.0      4.5      0      0     2
9        GINETTE TRIPLE  15.0      9.0      1      2    44
10                GOOSE  55.0      5.9      1      1    45
11  HOEGARDEN GRAND CRU  35.0      8.5      1      1    46
12       HOEGARDEN ROSE   5.0      3.0      2      1    20
13      HOEGARDEN WHITE  15.0      4.9      0      1    41
14                 KWAK  16.0      8.4      2      1    46
15         LEFFE AMBREE  25.0      6.6      1      3    40
16        LEFFE BLONDE   21.5      6.6      0      3    42
17     LEFFE BLONDE 0,0  10.0      0.0      0      2    42
18          LEFFE BRUNE  20.0      6.5      0      3    43
19      LEFFE LA LEGERE  17.0      5.0      0      3     2
20       LEFFE RITUEL 9  25.0      9.0      2      3    46
21         LEFFE ROYALE  33.0      7.5      1      1    42
22           LEFFE RUBY  10.0      5.0      0      1    20
23         LEFFE TRIPLE  15.0      8.5      1      1    44
24     TRIPLE KARMELIET  31.0      8.4      1      3    44

In [27]:
array1 = []

recomendacao = {

  "harmonizacao": {
  "AMERICAN PALE ALE": "Carnes grelhadas e saladas cítricas",
  "PALE LAGER": "Hamburger, carnes vermelha e petiscos",
  "BROWN ALE": "Carnes e petiscos",
  "WITBIER": "Saladas, frutas do mar e comidas leves",
  "TRIPEL": "Massas e frutos do mar",
  "BLONDE": "Petiscos e frutos do mar",
  "STRONG": "Frutos do mar e massas",
  "INDIAN PALE ALE": "Queijo, carne vermelha, hamburger e petiscos",
  "FRUIT BEER": "Sobremesa",
  },
  "Temperatura ideal": {
  "AMERICAN PALE ALE": [8, 12],
  "PALE LAGER": [0, 4],
  "BROWN ALE": [8, 12],
  "WITBIER": [4, 7],
  "TRIPEL": [4, 7],
  "BLONDE": [2, 5],
  "STRONG": [10, 12],
  "INDIAN PALE ALE": [8, 12],
  "FRUIT BEER": [7, 10],
  }
}

for i in range(25):  #itera sobre os valores e adiciona na lista array1

    temp = []
    temp.clear()

    p1 = df.iloc[i]['ibu']
    temp.append(p1)
    p2 = df.iloc[i]['abv (%)']
    temp.append(p2)
    p3 = df.iloc[i]['corpo']
    temp.append(p3)
    p4 = df.iloc[i]['aroma']
    temp.append(p4)
    p5 = df.iloc[i]['tipo']
    temp.append(p5)
    #p6 = dp.iloc[]["preco"]
    #temp.append(p6)

    array1.append(temp)

X = np.array(array1) #transforma a lista array1 em numpy

print(array1)

[[20.0, 5.0, 1, 0, 1], [10.0, 5.0, 0, 0, 2], [29.0, 4.6, 0, 0, 2], [39.0, 4.0, 1, 1, 40], [18.0, 4.6, 0, 0, 2], [12.0, 5.0, 0, 0, 41], [29.0, 5.0, 2, 0, 40], [12.0, 4.0, 1, 1, 20], [25.0, 4.5, 0, 0, 2], [15.0, 9.0, 1, 2, 44], [55.0, 5.9, 1, 1, 45], [35.0, 8.5, 1, 1, 46], [5.0, 3.0, 2, 1, 20], [15.0, 4.9, 0, 1, 41], [16.0, 8.4, 2, 1, 46], [25.0, 6.6, 1, 3, 40], [21.5, 6.6, 0, 3, 42], [10.0, 0.0, 0, 2, 42], [20.0, 6.5, 0, 3, 43], [17.0, 5.0, 0, 3, 2], [25.0, 9.0, 2, 3, 46], [33.0, 7.5, 1, 1, 42], [10.0, 5.0, 0, 1, 20], [15.0, 8.5, 1, 1, 44], [31.0, 8.4, 1, 3, 44]]

In [36]:
kmeans = KMeans(n_clusters=8, random_state=0).fit(X)
#pega todas a variaveis e as coloca em 10 grupos (mais parecidas)
kmeans.labels_

#kmeans.predict([])

array([2, 2, 6, 1, 2, 3, 1, 0, 6, 7, 4, 1, 0, 3, 7, 5, 5, 3, 5, 2, 5, 1,
       0, 7, 1])