In [5]:
#
#   ESSE PROGRAMA PEGA A TABELA DO MYSQL E CONVERTE EM UM DATAFRAME 
#

import mysql.connector as connection
import pandas as pd

try:
    # PRECISA SUBSTITUIR LOCALHOST PELO SERVER ADDRESS
    mydb = connection.connect(host='127.0.0.1', database = 'db_usuario',
                              user='root', passwd='joaoeduardomiguel',use_pure=True)
                                                      
    #parametros
    table_name = 'user_table'
    identifier = 'Postal_Code'
    user_wanted = 2500
    
    #command
    query = f'''Select * from {table_name} 
    WHERE {identifier}={user_wanted}
    ORDER BY {identifier} DESC;'''
    result_dataFrame = pd.read_sql(query,mydb)
    
    
    mydb.close() #close the connection
    
except Exception as e:#FAIL HANDLER
    mydb.close()
    print("ERROR - NAO FOI POSSIVEL LOCALIZAR O SERVIDOR")


#output    
display(result_dataFrame)

,Doc_Date,Postal_Code,Sous_groupement,Subrand,Latitude,Longitude,TTC
0,2021-02-01 00:00:00,2500,B.B.C.D. (Hirson),TRIPLE KARMELIET,49.827,4.2107,21.952008
1,2021-02-01 00:00:00,2500,B.B.C.D. (Hirson),KWAK,49.827,4.2107,18.0574128
2,2021-02-01 00:00:00,2500,B.B.C.D. (Hirson),LEFFE BLONDE,49.827,4.2107,17.8943688
3,2021-02-01 00:00:00,2500,B.B.C.D. (Hirson),LEFFE ROYALE,49.827,4.2107,22.9749696
4,2021-02-01 00:00:00,2500,B.B.C.D. (Hirson),LEFFE RUBY,49.827,4.2107,22.9749696
...,...,...,...,...,...,...,...
291,2019-08-05 00:00:00,2500,B.B.C.D. (Hirson),TRIPLE KARMELIET,49.827,4.2107,21.952008
292,2019-08-05 00:00:00,2500,B.B.C.D. (Hirson),KWAK,49.827,4.2107,18.0574128
293,2019-08-05 00:00:00,2500,B.B.C.D. (Hirson),LEFFE BLONDE,49.827,4.2107,17.8943688
294,2019-08-05 00:00:00,2500,B.B.C.D. (Hirson),LEFFE RUBY,49.827,4.2107,22.9749696
295,2019-08-05 00:00:00,2500,B.B.C.D. (Hirson),HOEGAARDEN ROSEE,49.827,4.2107,19.266984